@import './src/styles/variables';

.dd_wrapper {
  border-bottom: 1px solid $primaryBright;
  margin-bottom: 3px;
}
.label {
  color: $primaryBright;
  font-size: 16px;
  font-weight: 400;
}

.select {
  border: none;
  color: $primary;
  font-weight: 600;
  padding: 5px;
  outline: none;
}

.disabled::-ms-expand {
  display: none;
}
