@import '../src/styles/variables';
.button {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: inherit;
  color: white;
}

.login {
  background: $primary;
}
.login__muted {
  background: $primaryBright;
}

.primary {
  background: $primary;
}
.primary:hover {
  background: $primaryBright;
}
.primary__disabled {
  background: $disabled;
}

.danger {
  background: $error;
}
.danger:hover {
  background: $errorBright;
}
.danger__disabled {
  background: $disabled;
}

.circle {
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.option_selected {
  font-weight: 800;
  background: $primaryBright;
}
.option_unselected {
  background: $disabled;
  font-weight: 800;
  &:hover {
    background: $primaryBright;
    font-size: initial;
  }
}
