@import '../src/styles/variables';
$buttonPadding: 30px;
$borderWidth: 2px;
$containerHeight: 52px;
.subNavWrapper {
  position: relative;
  border: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  .bottomBar {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $borderWidth;
    background: $disabledDark;
  }
  .subNavLinkWrapper {
    position: relative;
    display: inline-block;
  }
  .subNavLink {
    all: unset;
    color: $disabledDark;
    font-weight: bold;
    padding: $buttonPadding/2 30px $buttonPadding/2 30px;
    border: none;
    &:hover {
      cursor: pointer;
      box-shadow: 0 45px 10px rgb(0,0,0,0.5);
      color: $primaryBright;
      border-bottom: $borderWidth solid $primaryBright
    }

    //noinspection ALL
    &.activeTab {
      color: $primary !important;
    }
  }
}
.subNavLinkWrapper .activeTab {
  border-width: 0;
  border-bottom: $borderWidth solid $primary
}
.subNavLinkWrapper .activeTab:hover {
  border-width: 0;
  border-bottom: $borderWidth solid $primary
}

.controls {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  .sortingWrapper {
    display: flex;
    align-items: center;
  }
}

.recipe_results_wrapper {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  @media(max-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: $tablet) {
    grid-template-columns: repeat(1, 1fr);
  }
}
