@import '../src/styles/variables';

.wrap {
  perspective-origin: 50% 50%;
}
.svg {
  position: fixed;
  top: -100vh;
  transform-style: preserve-3d;
  user-select: none;
}

$total: 30;
@for $i from 1 through $total {
  $scale:random(2) - .1;
  .svg:nth-child(#{$i}){
    left:random(110) * 1% - 20;
    animation: raise#{$i} 10 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.3 + $scale - .6) rotate(random(360) + deg);
    z-index: $i - 31;
    @keyframes raise#{$i} {
      to{
        top:150vh;
        transform: scale(.3  + $scale - .6) rotate(random(360) + deg);
      }
    }
    @media(max-width: $mobile) {
      left: 1%;
    }
  }
}
