@import './src/styles/variables';
.form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_name {
  color: $primary;
  font-size: $sectionTitleFontSize;
  font-weight: $sectionTitleFontWeight;
}
.section_meta {
  padding: 20px;
  width: 100%;
  @media(max-width: $mobile) {
    width: 95%;
    padding: 0;
  }
}
.ttc_wrapper {
  margin-top: 50px;
  border-bottom: 2px solid $primaryBright;
  box-shadow: $underShadow;
  .timer_wrapper {
    width: 100%;
    margin: $sectionMargin;
    display: flex;
    justify-content: center;
  }
}

