@import '../src/styles/variables';
.myRecipes_Wrapper_Full {

  .contentWrapper_Full {

  }
}
.myRecipes_Wrapper_Empty {

  .contentWrapper_Empty {
    position: absolute;
    width: calc(100% - #{2*$contentPadding});
    height: calc(100% - #{$navBarHeight} - #{$subNavHeight} - #{$extraPadding});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add_recipe_empty {
    position: absolute;
    top: $contentPadding;
    right: $contentPadding;
  }
  .empty_title {
    font-size: 24px;
    color: $primary;
    font-weight: 500;
    margin-bottom: 24px;
  }
}


