@import './src/styles/variables';

.row {

}

.name {
  width: 55%;
  padding: 10px 4px;
  border-right: 1px solid $primary;
}
.amount {
  width: 30%;
  padding: 10px 4px;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
}
.unit {
  width: 15%;
  padding: 10px 4px;
  border-left: 1px solid $primary;
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}


.input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid $primaryBright;
  font-size: 18px;
  background: none !important;
  &:focus {
    border-bottom: 2px solid $primaryBright;
  }
}

.disabledInput {
  border-bottom: none !important;
  text-align: center;
  font-weight: bold;
  &:focus {
    border-bottom:  none !important;
  }
}

.plus {
  margin: -2px 0 0 0;
}
