@import './src/styles/variables';

.row {
  border: 5px outset black;
}

.name {
  width: 50%;
  text-align: center;
  padding: 4px;
  border-right: 1px solid $primary;
}
.amount {
  width: 50%;
  text-align: center;
  padding: 4px;
  border-left: 1px solid $primary;
}
