@import '../src/styles/variables';
$buttonPadding: 30px;
$borderWidth: 2px;
$containerHeight: 51px;
.subNavWrapper {
  border-bottom: $borderWidth solid $primary;
  display: flex;
  height: $containerHeight;
}
.subNavLinkWrapper {
  position: absolute;
  width: 100%;
  display: flex;
}
.subNavLink {
  all: unset;
  color: $primary;
  font-weight: bold;
  padding: $buttonPadding/2 30px $buttonPadding/2 30px;
  border-bottom: $borderWidth solid $primary;
  &:hover {
    color: $primaryBright;
    border-bottom: $borderWidth solid $primaryBright;
    cursor: pointer;
    box-shadow: 0 30px 60px rgb(0,0,0,0.15)
  }
}
