@import '../src/styles/variables';
$buttonPadding: 30px;
$borderWidth: 2px;
$containerHeight: 52px;
.subNavWrapper {
  position: relative;
  border: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  .bottomBar {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $borderWidth;
    background: $disabledDark;
  }
  .subNavLinkWrapper {
    position: relative;
    display: inline-block;
  }
  .subNavLink {
    all: unset;
    color: $disabledDark;
    font-weight: bold;
    padding: $buttonPadding/2 30px $buttonPadding/2 30px;
    border: none;
    &:hover {
      cursor: pointer;
      box-shadow: 0 30px 60px rgb(0,0,0,0.15);
    }

    //noinspection ALL
    &.activeTab {
      color: $primary !important;
    }
  }
}
.subNavLinkWrapper .activeTab {
  border-width: 0;
  border-bottom: $borderWidth solid $primary
}
.subNavLinkWrapper .activeTab:hover {
  border-width: 0;
  border-bottom: $borderWidth solid $primary
}
