@import '../src/styles/variables';
.loginWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 450px;
  @media(max-width: $mobile) {
    width: 90%;
  }
}
.loginContainer {
  background: white;
  border-radius: 8px;
  box-shadow: $boxShadow;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding-bottom: 15px;
  font-weight: bold;
  color: $primary;
}
.loginHeader {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
}
.loginSignup {
  @media(max-width: $mobile) {
    overflow: scroll;
  }
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 200px;
}
