// BREAKPOINTS
$mobile: 500px;
$large: 1240px;
// BOX SHADOW
$boxShadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
// COLOURS
$primary: #228B22;
$primaryBright: #32cd32;
$primaryDisabled: #8ee38e;

$secondary: #33183B;
$secondaryMuted: #6D477F;

$disabled: #b1d0a3;

$tertiary: #97BE11;

$error: #CD0000;
$errorBright: #FF0101;
$errorDisabled: #ff9292;

$white: #FBFCEB;
// SIZES
$iconSize: 30px;
$contentPadding: 20px;
$navBarHeight: 74px;
$subNavHeight: 52px;
$extraPadding: 22px;
