//////////////////////////////////////// BREAKPOINTS
$mobile: 500px;
$tablet: 800px;
$medium: 1100px;
$large: 1240px;
//////////////////////////////////////// BOX SHADOW
$boxShadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$underShadow: 0 12px 10px -10px rgb(0,0,0, 0.1);
$underShadowBig: 0 12px 10px 0px rgb(0,0,0, 0.1);
//////////////////////////////////////// COLOURS
$primary: #086E08;
$primaryBright: #44B721;
//$primaryBright: #3DA833;
//$primary: #228B22;
//$primaryBright: #32CD32;

$disabled: #BBBBBB;
$disabledDark: #999999;
$disabledInput: rgb(84,84,84);

$error: #E02F55;
$errorBright: #FF456D;
$errorDisabled: #FBB2AC;

$info: #2A46FC;
$warning: #F7D200;

$white: #FBFCEB;
//////////////////////////////////////// SIZES
$navBarHeight: 74px;
$subNavHeight: 52px;

$iconSize: 30px;
$iconSizeSm: 25px;
$iconSizeLg: 40px;

$contentPadding: 20px;

$extraPadding: 22px;
//////////////////////////////////////// FONTS
$sectionTitleFontSize: 19px;
$sectionTitleFontWeight: 400;
//////////////////////////////////////// MARGINS
$sectionMargin: 20px 0 10px 0;
