// BREAKPOINTS
$mobile: 500px;
$laptop: 800px;
// BOX SHADOW
$boxShadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
// COLOURS
$primary: #228B22;
$primaryMuted: #32cd32;
$secondary: #8b228b;
$error: #FF1A1A;
$errorMuted: #FF4D4D;
