@import '../src/styles/variables';
.baseDiv {
  position: absolute;
  height: 100%;
  width: 100%;
}
.contentWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.content {
  width: 100%;
  max-width: $large;
  padding: 0 $contentPadding;
}
