@import '../../../../styles/variables';

.section_wrapper {
  margin-top: 36px;
  border-bottom: 2px solid $primaryBright;
  box-shadow: $underShadow;
}

.section_title {
  color: $primary;
  font-size: $sectionTitleFontSize;
  font-weight: $sectionTitleFontWeight;
}

.list_wrapper {
  margin: $sectionMargin;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  .list {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    .title {
      min-width: 31px;
      color: $primary;
      border-bottom: 2px solid $primary;
      padding-bottom: 5px;
      text-align: left;
    }
  }
}
