@import '../../styles/variables';

.svgFill {
  fill: $primary;
  cursor: pointer;
  &:hover {
    g {
      fill: $primaryBright;
    }
  }
}

.justPrimary {
  fill: $primary;
  stroke-width: 100;
}
