@import './src/styles/variables';

.name {
  width: 55%;
  padding: 7px 4px;
  border-right: 1px solid $primary;
}
.amount {
  width: 30%;
  padding: 7px 4px;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
}
.unit {
  width: 5%;
  padding: 7px 4px;
  border-left: 1px solid $primary;
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.controls {
  min-width: 5%;
  padding: 7px 4px;
  .button_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.disabled_unit {
  padding-left: 6px;
  padding-bottom: 5px;
  color: $disabledInput;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $primaryBright;
  border-radius: 0;
  font-size: 18px;
  background: none !important;
  padding-bottom: 5px;
  &:focus {
    padding-bottom: 4px;
    border-bottom: 2px solid $primaryBright;
  }
}

.disabledInput {
  -webkit-appearance: none;
  background: none;
  border-bottom: none !important;
  padding-left: 6px;
  color: $disabledInput !important;
  opacity: 1;
  -webkit-text-fill-color: $disabledInput;
  &:focus {
    border-bottom:  none !important;
  }
}

