@import './src/styles/variables';
.form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: white;
  box-shadow: $underShadow;
  border-bottom: 1px solid $primary;
}

.delete_buttons_wrapper {
  display: flex;
  .trash_button {
    margin-left: 20px;
  }
}

.save_buttons_wrapper {
  display: flex;
  .save_button {
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
}

.input_name {
  color: $primary;
  font-size: $sectionTitleFontSize;
  font-weight: $sectionTitleFontWeight;
}
.section_meta {
  padding: 20px;
  width: 100%;
  @media(max-width: $mobile) {
    width: 95%;
    padding: 0;
  }
}
.ttc_wrapper {
  margin-top: 50px;
  border-bottom: 2px solid $primaryBright;
  box-shadow: $underShadow;
  .timer_wrapper {
    width: 100%;
    margin: $sectionMargin;
    display: flex;
    justify-content: center;
  }
}

